/* section */

section{
    background: url("../images/FE_key_visual.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 380px;
    padding:10px;
    background-position-x: center;
    background-position-y: center;
    margin-top: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section>div.keyvisualSpan{
    font-size: 30px;
    color: rgb(26,216,211);
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    letter-spacing: 20px;
    text-align: center;
    padding-left: 23px;
}

/* main */

main{
    padding: 50px 40px;
}

main>div{
    display: flex;
    max-width: 1940px;
    width: 100%;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

main>div>div{
    width: 700px;
}

main>div>div.question-list>input{
    width: 80%;
    border-radius: 6px;
    height: 20px;
    font-size: 16px;
    padding: 10px 10px;
    margin: 10px 0px;
    border: 1.5px solid rgb(207, 206, 206);
    color: rgb(128,128,128);
}

main>div>div.question-list>input:focus{
    border: 1.5px solid rgb(207, 206, 206);
    outline: 0px solid rgb(207, 206, 206);
}

main>div>div.question-list>textarea{
    width: 80%;
    border-radius: 10px;
    height: 200px;
    font-size: 16px;
    padding: 10px 10px;
    margin: 10px 0px;
    border: 1.5px solid rgb(207, 206, 206);
    letter-spacing: 3px;
    color: rgb(128,128,128);
}

main>div>div.question-list>textarea:focus{
    border: 1.5px solid rgb(207, 206, 206);
    outline: 0px solid rgb(207, 206, 206);
}

main>div>div.question-list>p.send{
    text-align: center;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    width: 100px;
    color: white;
    background-color: rgb(26, 216, 211);
    cursor: pointer;
}

main>div>div.question-list>p.send{
    opacity: 0.8;
}

main>div>div.company-data>div{
    width: auto;
    height: 224px;
    background-color: rgba(230, 230, 230, .3);
    border-radius: 5px;
}

main>div>div.company-data>div.data-word{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 83px;
}


main>div>div.company-data>div.data-word>img{
    background: cover;
    width: 34.28px;
    height: 47.4px;
    cursor: text;
}

main>div>div.company-data>div.data-word>p{
    font-size:15px; color: rgb(128,128,128);
}

main>div>div.company-data>div.data-map{
    margin-top: 30px;
}

@media ( max-width: 1480px ){
    main>div>div{
        width: 500px;
    }
}

@media ( max-width: 660px ){
    section>div{
        line-height: 25px;
    }
    section>div>span.keyvisualSpan{
        font-size:28px;
    }
    section>div>span.keyvisualSpanTwo{
        font-size: 34px;
    }
}


/* 透明度動畫 */

@keyframes inputUp {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes inputUp {
    0%   { opacity: 0; }
    100% { opacity: 1;  }
}
@-moz-keyframes inputUp {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-o-keyframes inputUp {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
