/* section */

section{
    position: relative;
    /* background: url("../images/FE_key_visual.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;
    /* width: 100%; */
    background-position-x: center;
}

section>a>div{
    max-width: 1940px;
    width: 100%;
    display: inline-block;
    position: relative;
    top:0;left: 0;
    background-size: cover;
    height: 580px;
    color: white;
    line-height: 40px;
}

section.keyvisual0{
    display: none;
}

section.keyvisual2{
    display: none;
}

section>div.section-grey{
    position: absolute;
    opacity: 0.5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section>div>a>span.keyvisualSpan{
    font-size:38px;
}

section>div>a>span.keyvisualSpanTwo{
    font-size:44px;
}

mark.mark-tag{
    display: flex;
    flex-direction: row;
    background-color: white;    
    padding:0px 60px 0px 60px;
    color: rgb(128,128,128);
    justify-content: flex-end;
    font-size: 16px;
    margin-top: 70px;
    text-decoration: underline;
}

mark.mark-tag:hover{
    text-decoration: none;
}

mark.mark-tag>form{
    padding: 15px 15px;
    margin: 10px;
    height: 40px;
    width: 100px;
}

mark.mark-tag>form>select{
    cursor: pointer;
    height: 100%;
    width: 100%;
    font-size: 16px;
    padding-left: 15px;
    border: 1px solid rgba(0,0,0,.3);
    color:rgba(0,0,0,.7);
}

mark.mark-tag>form>select:focus{
    outline: white;
    border: 1px solid rgba(0,0,0,.7);
}

mark.mark-tag>form>select>option{
    cursor: pointer;
}

/* mark.mark-tag>div:hover{
    cursor: pointer;
    opacity: 0.8;
    background-color: rgb(26, 216, 211);
    color: white;
    padding: 5px;
    border: 1px solid rgb(26, 216, 211);
    border-radius: 5px;
} */

main{
    display: flex;flex-direction: row;flex-wrap: wrap;justify-content:center; 
    width: auto;height: auto;
    padding:0px 60px 70px 60px;
}

main>article{
    border: 1px solid rgb(26, 216, 211);
    padding: 15px 15px;
    margin: 10px;
}

main>article>a>p{
    line-height: 24px;
    letter-spacing: 0px;
    padding: 0px 30px;
    text-align: center;
    width: 240px;
}

main>article>div>a>p{
    line-height: 24px;
    letter-spacing: 0px;
    padding: 0px 5px;
}

main>article>div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0px 5px 0px;
}

main>article>div>img{
    width: 17.14px;
    height: 23.7px;
}

main>article>div>a>p.article-location{
    font-size: 16px;
    text-align: center;
    color: rgb(125, 125, 125);
    line-height: 10px;
}

/* main>article>div.tag-line{
    border-top:1px solid rgb(125, 125, 125); width: 20px;height: 20px; margin:0 auto;
} */

main>article>a>div.article-div{
    width:200px ; height: 200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

main>article>a>div>img.article-img{
    width:200px ; height: auto;
}

main>article>a>p.article-head{
    text-align: center;
    font-size: 30px;
    letter-spacing: 0px;
    color: rgb(26, 216, 211);
    cursor: pointer;
    width: auto;
}

main>article>a>p:hover{
    opacity: 0.7;
}

@media ( max-width:1300px ){
    /* section{
        background-size: 100% 570px;
        height: 480px;
    } */
}

@media ( max-width:1150px ){
    /* section{
        background-size: auto 650px;
        height: 580px;
    } */
}

@media ( max-width:1000px ){
    /* section{
        background-size: auto 550px;
        height: 520px;
    } */
}

@media ( max-width:900px ){
    /* section{
        background-size: auto 500px;
        height: 440px;
    } */
}

@media ( max-width: 800px ){
    /* section{
        background-size: auto 440px;
        height: 410px;
    } */
}

@media ( max-width: 660px ){
    /* section{
        background-size: auto 365px;
        height: 340px;
    } */
    section>div{
        line-height: 20px;
    }
    section>div>a>span.keyvisualSpan{
        font-size:20px;
    }
    section>div>a>span.keyvisualSpanTwo{
        font-size:20px;
    }
}

@media ( max-width: 550px ){
    /* section{
        background-size: auto 330px;
        height: 300px;
    } */
    mark.mark-tag{
        font-size: 14px;
        margin: 20px 30px;
        margin-top: 70px;
    }
}

@media ( max-width: 480px ){
    /* section{
        background-size: auto 260px;
        height: 240px;
    } */
    section>div>span.keyvisualSpan{
        font-size:18px;
    }
    
    section>div>span.keyvisualSpanTwo{
        font-size:18px;
    }
}

@media ( max-width: 387px ){
    /* section{
        background-size: auto 220px;
        height: 190px;
    } */
}