
/* section */

section{
    background: url("../images/FE_key_visual.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;
    /* width: 100%; */
    /* box-shadow:3px 3px 12px rgb(26, 216, 211);padding:10px; */
    background-position-y: center;
    background-position-x: center;
    margin-top: 105px;
}

main{
    margin:30px 60px;
}

main>p{
    font-size: 20px;
    padding: 10px;
}

main>input{
    font-size: 20px;
    padding: 8px;
    line-height: 28px;
    letter-spacing: 3px;
    width: 500px;
    margin: 8px;
}

main>textarea{
    font-size: 24px;
    padding: 10px;
    line-height: 28px;
    letter-spacing: 3px;
    width: 1130px;
    height: 400px;
}

main>p.main-button{
    font-size: 18px;
    background-color: rgb(26, 216, 211);
    width: 100px;
    text-align: center;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

@media ( max-width:1300px ){
    /* section{
        background-size: 100% 570px;
        height: 480px;
    } */
}

@media ( max-width:1150px ){
    /* section{
        background-size: auto 650px;
        height: 580px;
    } */
}

@media ( max-width:1000px ){
    /* section{
        background-size: auto 550px;
        height: 520px;
    } */
}

@media ( max-width:900px ){
    /* section{
        background-size: auto 500px;
        height: 440px;
    } */
}

@media ( max-width: 800px ){
    /* section{
        background-size: auto 440px;
        height: 410px;
    } */
}

@media ( max-width: 660px ){
    /* section{
        background-size: auto 365px;
        height: 340px;
    } */
}

@media ( max-width: 550px ){
    /* section{
        background-size: auto 330px;
        height: 300px;
    } */
}

@media ( max-width: 480px ){
    /* section{
        background-size: auto 260px;
        height: 240px;
    } */
}

@media ( max-width: 387px ){
    /* section{
        background-size: auto 220px;
        height: 190px;
    } */
}