
/* section */

section{
    background: url("../images/key-visual.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;
    background-position-y: center;
    background-position-x: center;
    margin-top: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section>div.keyvisualSpan{
    font-size: 25px;
    color: white;
    padding: 6px;
    border-radius: 5px;
    letter-spacing: 20px;
    text-align: center;
    padding-left: 23px;
}

main{
    margin:30px 60px;
}

main>p{
    font-size: 20px;
    padding: 10px;
}

main>input{
    font-size: 20px;
    padding: 8px;
    line-height: 28px;
    letter-spacing: 3px;
    width: 500px;
    margin: 8px;
}

main>textarea{
    font-size: 24px;
    padding: 10px;
    line-height: 28px;
    letter-spacing: 3px;
    width: 1130px;
    height: 400px;
}

main>p.main-button{
    font-size: 18px;
    background-color: rgb(26, 216, 211);
    width: 100px;
    text-align: center;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}