html,
body {
	margin: 0px;
}

body {
	font-size: 16px;
	font-family: "Noto Sans TC", "華康黑體","微軟正黑體", "新細明體", arial, sans-serif;
	color: #3f3a3a;
}


a {
	text-decoration: none;
    color: inherit;
}

a:hover{
    opacity: 0.7;
    cursor: pointer;
}

img:hover{
    opacity: 0.8;
    cursor: pointer;
}

p{
    letter-spacing: 3px;
}

/* alert design */

.alert-big-box{
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;

}

.alert-box{
    position: fixed;
    width: 300px;
    height: 180px;
    background-color: white;
    border-radius: 5px;
}

.alert-header{
    font-size: 24px;
    text-align: center;
    color: rgb(128, 128, 128);
}

.alert-word{
    font-size: 15px;
    text-align: center;
    color: rgb(128, 128, 128);
}

.alert-button{
    font-size: 16px;
    text-align: center;
    width: 30%;
    margin: 0 auto;
    background-color: rgb(26, 216, 211);
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}


/* header */

header{
    z-index: 1;
    opacity: 0.8;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    top: 0;
    left: 0;
    /* background-color: rgb(26, 216, 211); */
    /* background: linear-gradient(rgba(0,0,0,.3),rgba(255, 255, 255, 0)); */
    background-color: rgb(250, 250, 250); 
    background: linear-gradient(white,white); 
    align-items: center;
}

header>nav>div:hover{
    /* animation: myAnimation 10s ease 0s 1 alternate; */
    color: rgb(26, 216, 211);
}

header>nav>div>a:hover{
    color: rgb(26, 216, 211);
}

header>div{
    margin-left: 60px;
}

header>div.logo{
    width: 134.3px;
    height: 65px;
}

header>.logo>a>img{
    width: 100%;
    height: 100%;
}

header>nav{
    margin-right: 60px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 40%;
    align-items: center;
}

header>nav>div{
    line-height: 97px;
    color: rgb(128, 128, 128);
    letter-spacing: 3px;
}

header>nav>div>img{
    width: 18px;
}

        /* section */

        section{
            background: url("../images/FE_key_visual.png");
            background-repeat: no-repeat;
            background-size: 100% 630px;
            height: 580px;
            /* width: 100%; */
            /* box-shadow:3px 3px 12px rgb(26, 216, 211);padding:10px; */
        }

        section>div{
            display: inline-block;
            position: relative;
            top:50%;
            left: 10%;
            color: white;
            line-height: 60px;
        }

        section>div>span.keyvisualSpan{
            font-size:38px;
        }

        section>div>span.keyvisualSpanTwo{
            font-size:44px;
        }

/* aside */

aside{
    z-index: 2;
    opacity: 0.8;
    position: fixed;
    bottom: 20%;
    right: 0;
    width: 78px;
    height: 69px;
    -webkit-transition: bottom 4s; /* For Safari 3.1 to 6.0 */
    transition: bottom 4s;
}

aside:hover{
    bottom: 60%;
}

aside>img{
    width: 100%;
    height: 100%;
}

/* top */

.top{
    padding: 70px;
}

.top-icon{
    cursor: pointer;
    margin: 0 auto;
    background-image: url("../images/FE_TOP.png");
    background-repeat: no-repeat;
    background-size: 36px 46px;
    width: 36px;
    height: 46px;
}

/* footer */

footer{
    opacity: 0.8;
    background-color: #ececec;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer>p{
    font-size: 13px;
    line-height: 60px;  
    padding: 0 30px;
}

footer>p.m::before{
    content:"M";
    word-spacing: 20px;
    color:rgb(26, 216, 211);
}

footer>p.e::before{
    content:"E";
    word-spacing: 20px;
    color:rgb(26, 216, 211);
}

footer>p.a::before{
    content:"A";
    word-spacing: 20px;
    color:rgb(26, 216, 211);
}

footer>div{
    text-align: center;
    line-height: 80px;
    padding: 0 30px;
}

footer>div>img.footer-img{
    height: 30px;
    width: 30px;
    vertical-align : middle;  
}

u{
    text-decoration: none;
}

/* 搜尋 */

div.fullSearchDiv{
    z-index: 3;
    opacity: 0.7;
    position: fixed;
    display: flex;
    flex-direction: row;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 39%;
    background-color: black;
    -webkit-transition: bottom 4s; 
    transition: bottom 4s;
}

div.fullSearchWhiteDiv{
    z-index: 3;
    opacity: 1;
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 11%;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: white;
    -webkit-transition: bottom 4s; 
    transition: bottom 4s;
}

div.fullSearchWhiteDiv>div.whiteDivLeft{
    width: 100%;
    height: 86%;
    background-color: rgb(243, 243, 243);
    padding: 30px 0px;
}

div.fullSearchWhiteDiv>div.whiteDivRight{
    width: 10%;
    height: 86%;
    background-color: rgb(75, 67, 67);
    color: white;
    font-size: 24px;
    text-align: center;
    line-height: 14;
    padding: 30px 0px;
    cursor: pointer;
}

div.fullSearchWhiteDiv>div.whiteDivLeft>div.whiteDivLeftIcon{
    margin: 0 auto;
    background: url(../images/FE_search_green.png);
    background-repeat: no-repeat;
    background-size: 45px 45px;
    width: 54px;
    height: 58px;
    margin-bottom: -24px;

}

div.fullSearchWhiteDiv>div.whiteDivLeft>p.whiteDivLeftText{
    text-align: center;
    color: rgb(26, 216, 211);
    font-size: 20px;
}

div.fullSearchWhiteDiv>div.whiteDivLeft>form.whiteDivLeftBox{
    display: flex;
    width: 60%;
    height: 80px;
    background-color: white;
    margin-left: 18%;
    padding: 10px;
    border-radius: 20px;
}

div.fullSearchWhiteDiv>div.whiteDivLeft>form.whiteDivLeftBox>input.leftInput{
    width: 80%;
    line-height: 2;
    background-color: white;
    font-size: 28px;
    padding: 10px;
    line-height: 2;
    border: 0px solid white;
}

div.fullSearchWhiteDiv>div.whiteDivLeft>form.whiteDivLeftBox>div.leftButton{
    background: url(../images/FE_search_green.png);
    background-repeat: no-repeat;
    background-size: 45px 45px;
    width: 54px;
    height: 58px;
    margin: 0 auto;
    margin-top: 16px;
    cursor: pointer;
}



/* 測驗 Go */ 

div.test-go-back-div{
    z-index: 1;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(192, 192, 192, 0.3);
}

div.test-go-back-div>div.test-go-white-div{
    z-index: 2;
    position: fixed;
    width: 500px;
    height: 550px;
    border-radius: 4px;
    background: rgb(26, 216, 211);
}

div.test-go-back-div>div.test-go-white-div>p.test-one-header{
    color: white;
    font-size: 38px;
    text-align: center;
    font-weight:bold;    
}

div.test-go-back-div>div.test-go-white-div>p.test-one-list{
    color: white;
    font-size: 20px;
    padding: 0px 50px;
    text-align: center;
    font-weight:bold;
}

div.test-go-back-div>div.test-go-white-div>p.test-two-question-count{
    color: rgba(255, 255, 255,.7);
    text-align: center;
    padding: 10px;
    padding-bottom: 25px;
    
}

div.test-go-back-div>div.test-go-white-div>p.test-one-button{
    color: rgb(26, 216, 211);
    font-size: 24px;
    background-color: white;
    text-align: center;
    padding: 30px;
    margin: 0 auto;
    height: 8%;
    width: 60%;
    border-radius: 10px;
    line-height: 45px;
    margin-top: 30%;
    font-weight:bold;
    cursor: pointer;
}

div.test-go-back-div>div.test-go-white-div>p.test-one-button:hover{
    opacity: 0.8;
    padding: 30.5px;
    /* color: white;
    background-color: rgb(128, 128, 128); */
}

div.test-go-back-div>div.test-go-white-div>p.test-two-select{
    color: rgb(26, 216, 211);
    font-size: 24px;
    background-color: white;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    height: 8%;
    width: 75%;
    border-radius: 10px;
    line-height: 45px;
    font-weight:bold;
    cursor: pointer;
    margin-top: 10px;
}

div.test-go-back-div>div.test-go-white-div>p.test-two-select:hover{
    opacity: 0.8;
    padding: 20px;
    /* color: white;
    background-color: rgb(128, 128, 128); */
}

/* 圓餅圖 */

div.end-pie-chart{
    width: 150px;
    height: 150px;
    border-radius: 75px;
    position:absolute;
    overflow:hidden;
    border: 3px solid white;
    left: 170px;
    top: 157px;
}

div.end-pie-chart:before{
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 75px;
    border-style: solid;
    border-color: #1cb5e0;
    border-width: 6px 6px 0;
    border-radius: 75px 75px 0 0;
    transform-origin: 75px 75px;
    transform: rotate(180deg);
    animation : rotateCircle 3s ease 0s 1 alternate;
}

div.end-pie-chart:after{
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 75px;
    border-style: solid;
    border-color: #1cb5e0;
    border-width: 6px 6px 0;
    border-radius: 75px 75px 0 0;
    transform-origin: 75px 75px;
    transform: rotate(0deg);
    animation : rotateCircle 3s ease 0s 1 alternate;
}

div.white-in-pie-chart{
    z-index: 4;
    background-color: white;
    top: 30%;
    left: 178px;
    position:absolute;    
    overflow:hidden;
    width: 140px;   
    height: 140px;
    border-radius: 70px;
    text-align: center;   
    line-height: 140px;
    font-size: 24px;   
    color: #1cb5e0;
    /* animation: rotateCircle 3s linear; */
}

div.white-in-pie-chart::after{
    content: '';
    animation: numberAni 3s ease 0s 1 alternate;
}

div.test-go-back-div>div.test-go-white-div>a.result-a>p.for-end-result{
    color: rgb(26, 216, 211);
    font-size: 24px;
    background-color: white;
    text-align: center;
    padding: 30px;
    margin: 0 auto;
    height: 8%;
    width: 60%;
    border-radius: 10px;
    line-height: 35px;
    margin-top: 350px;
    font-weight:bold;
    cursor: pointer;
    animation: numberAni 3s 3s ease 0s 1 alternate;
}

div.test-go-back-div>div.test-go-white-div>a.result-a>p.for-end-result::after{
    content: '';
    animation: nameAni 3s linear;
}

div.test-go-back-div>div.test-go-white-div>a.result-a>p.for-end-result:hover{
    opacity: 0.8;
    padding: 31px;
}

/* media */

@media ( max-width: 660px ){
    header>div{
        margin-left: 10px;
    }
    header>nav{
        margin-right: 10px;
    }
}

@media ( max-width: 1022px ){
    footer{
        height: auto;
    }
}

@media ( max-width: 520px ){
    div.test-go-back-div>div.test-go-white-div{
        width: 300px;
        height: 550px;
    }
    div.white-in-pie-chart{
        left: 78px;
    }
    div.end-pie-chart{
        left: 70px;
    }
    div.test-go-back-div>div.test-go-white-div>a.result-a>p.for-end-result{
        font-size: 16px;
        width: 62%;
        line-height: 45px;
    }
}

@media ( max-width: 480px ){
    header>div.logo{
        width: 133px;
        height: 65px;
        margin-top:15px;
    }
    header>nav>div{
        letter-spacing: 1px;
    }
    div.fullSearchWhiteDiv>div.whiteDivLeft>form.whiteDivLeftBox{
        width: 90%;
        margin-left: 2%;
    }
}

/* header animation */

@keyframes headerBackgroundOut{
  0% { background-color: rgb(250, 250, 250); background: linear-gradient(white,white); opacity: 0.8;}
  /* 0% {  background-color: ""; background: linear-gradient(rgba(0,0,0,.3),rgba(255, 255, 255, 0)); opacity: .3;}
  25% {  background-color: rgb(250, 250, 250);  opacity: .7;}
  50% {  background-color: ""; background: linear-gradient(white,white); opacity: 0.8;} */
  100% { background-color: rgb(250, 250, 250); background: linear-gradient(white,white); opacity: 0.8;}
}

@-webkit-keyframes headerBackgroundOut {
    0% { background-color: rgb(250, 250, 250); background: linear-gradient(white,white); opacity: 0.8;}
  100% { background-color: rgb(250, 250, 250); background: linear-gradient(white,white); opacity: 0.8;}
}
@-moz-keyframes headerBackgroundOut {
    0% { background-color: rgb(250, 250, 250); background: linear-gradient(white,white); opacity: 0.8;}
    100% { background-color: rgb(250, 250, 250); background: linear-gradient(white,white); opacity: 0.8;}
}
@-o-keyframes headerBackgroundOut {
    0% { background-color: rgb(250, 250, 250); background: linear-gradient(white,white); opacity: 0.8;}
    100% { background-color: rgb(250, 250, 250); background: linear-gradient(white,white); opacity: 0.8;}
}

@keyframes headerBackgroundIn{
  0% { background-color: rgb(250, 250, 250); opacity: 0.8;}
  /* 50% {  background-color: ""; opacity: 0.9;} */
  100% {  background: linear-gradient(white,white); opacity: 0.8;}
}

@-webkit-keyframes headerBackgroundIn {
    0% { background-color: rgb(250, 250, 250); opacity: 0.8;}
    100% {  background: linear-gradient(white,white); opacity: 0.8;}
}
@-moz-keyframes headerBackgroundIn {
    0% { background-color: rgb(250, 250, 250); opacity: 0.8;}
    100% {  background: linear-gradient(white,white); opacity: 0.8;}
}
@-o-keyframes headerBackgroundIn {
    0% { background-color: rgb(250, 250, 250); opacity: 0.8;}
    100% {  background: linear-gradient(white,white); opacity: 0.8;}
}

/* 透明度動畫 */

@keyframes opacityOut{
    0%   { opacity: 0.8; background-color: white}
    100% { opacity: 1; background-color: rgb(0,0,0,0.3)}
}

@-webkit-keyframes opacityOut {
    0%   { opacity: 0.8; background-color: white}
    100% { opacity: 1; background-color: rgb(0,0,0,0.3)}
}
@-moz-keyframes opacityOut {
    0%   { opacity: 0.8; background-color: white}
    100% { opacity: 1; background-color: rgb(0,0,0,0.3)}
}
@-o-keyframes opacityOut {
    0%   { opacity: 0.8; background-color: white}
    100% { opacity: 1; background-color: rgb(0,0,0,0.3)}
}

/* 旋轉動畫 */

@keyframes rotateCircle{
    0%   { transform: rotate(0deg); }
    50% { transform: rotate(360deg); }
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(108deg); }
}

@-webkit-keyframes rotateCircle {
    0%   { transform: rotate(0deg); }
    50% { transform: rotate(108deg); }
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(108deg); }
}
@-moz-keyframes rotateCircle {
    0%   { transform: rotate(0deg); }
    50% { transform: rotate(360deg); }
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(108deg); }
}
@-o-keyframes rotateCircle {
    0%   { transform: rotate(0deg); }
    50% { transform: rotate(360deg); }
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(108deg); }
}

/* 數字改變動畫 */

@keyframes numberAni{
    0%   { content : '84%'; }
    5%   { content : '34%'; }
    10%   { content : '20%'; }
    15%   { content : '32%'; }
    20%   { content : '26%'; }
    25% { content : '70%'; }
    30%   { content : '50%'; }
    35% { content : '70%'; }
    40%   { content : '50%'; }
    45%   { content : '11%'; }
    50%   { content : '90%'; }
    55%   { content : '15%'; }
    60%   { content : '90%'; }
    65%   { content : '46%'; }
    70% { content : '30%'; }
    75%   { content : '49%'; }
    80% { content : '30%'; }
    85%   { content : '84%'; }
    90% { content : '30%'; }
    95%   { content : '82%'; }
    100% { content : '50%'; }
}

@-webkit-keyframes numberAni {
    0%   { content : '84%'; }
    5%   { content : '34%'; }
    10%   { content : '20%'; }
    15%   { content : '32%'; }
    20%   { content : '26%'; }
    25% { content : '70%'; }
    30%   { content : '50%'; }
    35% { content : '70%'; }
    40%   { content : '50%'; }
    45%   { content : '11%'; }
    50%   { content : '90%'; }
    55%   { content : '15%'; }
    60%   { content : '90%'; }
    65%   { content : '46%'; }
    70% { content : '30%'; }
    75%   { content : '49%'; }
    80% { content : '30%'; }
    85%   { content : '84%'; }
    90% { content : '30%'; }
    95%   { content : '82%'; }
    100% { content : '50%'; }
}
@-moz-keyframes numberAni {
    0%   { content : '84%'; }
    5%   { content : '34%'; }
    10%   { content : '20%'; }
    15%   { content : '32%'; }
    20%   { content : '26%'; }
    25% { content : '70%'; }
    30%   { content : '50%'; }
    35% { content : '70%'; }
    40%   { content : '50%'; }
    45%   { content : '11%'; }
    50%   { content : '90%'; }
    55%   { content : '15%'; }
    60%   { content : '90%'; }
    65%   { content : '46%'; }
    70% { content : '30%'; }
    75%   { content : '49%'; }
    80% { content : '30%'; }
    85%   { content : '84%'; }
    90% { content : '30%'; }
    95%   { content : '82%'; }
    100% { content : '50%'; }
}
@-o-keyframes numberAni {
    0%   { content : '84%'; }
    5%   { content : '34%'; }
    10%   { content : '20%'; }
    15%   { content : '32%'; }
    20%   { content : '26%'; }
    25% { content : '70%'; }
    30%   { content : '50%'; }
    35% { content : '70%'; }
    40%   { content : '50%'; }
    45%   { content : '11%'; }
    50%   { content : '90%'; }
    55%   { content : '15%'; }
    60%   { content : '90%'; }
    65%   { content : '46%'; }
    70% { content : '30%'; }
    75%   { content : '49%'; }
    80% { content : '30%'; }
    85%   { content : '84%'; }
    90% { content : '30%'; }
    95%   { content : '82%'; }
    100% { content : '50%'; }
}

/* 文字改變動畫 */

@keyframes nameAni{
    0%   { content : '六角學院'; }
    5%   { content : '五倍紅寶石'; }
    10%  { content : 'AppWorks School'; }
    15%  { content : '六角學院'; }
    20%  { content : 'Udemy'; }
    25%  { content : '五倍紅寶石'; }
    30%  { content : '六角學院'; }
    35%  { content : 'Udemy'; }
    40%  { content : '五倍紅寶石'; }
    45%  { content : '彭彭的課程教學'; }
    50%  { content : 'AppWorks School'; }
    55%  { content : 'Udemy'; }
    60%  { content : '六角學院'; }
    65%  { content : 'Udemy'; }
    70%  { content : '五倍紅寶石'; }
    75%  { content : 'AppWorks School'; }
    80%  { content : '彭彭的課程教學'; }
    85%  { content : 'AppWorks School'; }
    90%  { content : 'Udemy'; }
    95%  { content : '五倍紅寶石'; }
    100% { content : '六角學院'; }
}

@-webkit-keyframes nameAni {
    0%   { content : '六角學院'; }
    5%   { content : '五倍紅寶石'; }
    10%  { content : 'AppWorks School'; }
    15%  { content : '六角學院'; }
    20%  { content : 'Udemy'; }
    25%  { content : '五倍紅寶石'; }
    30%  { content : '六角學院'; }
    35%  { content : 'Udemy'; }
    40%  { content : '五倍紅寶石'; }
    45%  { content : '彭彭的課程教學'; }
    50%  { content : 'AppWorks School'; }
    55%  { content : 'Udemy'; }
    60%  { content : '六角學院'; }
    65%  { content : 'Udemy'; }
    70%  { content : '五倍紅寶石'; }
    75%  { content : 'AppWorks School'; }
    80%  { content : '彭彭的課程教學'; }
    85%  { content : 'AppWorks School'; }
    90%  { content : 'Udemy'; }
    95%  { content : '五倍紅寶石'; }
    100% { content : '六角學院'; }
}
@-moz-keyframes nameAni {
    0%   { content : '六角學院'; }
    5%   { content : '五倍紅寶石'; }
    10%  { content : 'AppWorks School'; }
    15%  { content : '六角學院'; }
    20%  { content : 'Udemy'; }
    25%  { content : '五倍紅寶石'; }
    30%  { content : '六角學院'; }
    35%  { content : 'Udemy'; }
    40%  { content : '五倍紅寶石'; }
    45%  { content : '彭彭的課程教學'; }
    50%  { content : 'AppWorks School'; }
    55%  { content : 'Udemy'; }
    60%  { content : '六角學院'; }
    65%  { content : 'Udemy'; }
    70%  { content : '五倍紅寶石'; }
    75%  { content : 'AppWorks School'; }
    80%  { content : '彭彭的課程教學'; }
    85%  { content : 'AppWorks School'; }
    90%  { content : 'Udemy'; }
    95%  { content : '五倍紅寶石'; }
    100% { content : '六角學院'; }
}
@-o-keyframes nameAni {
    0%   { content : '六角學院'; }
    5%   { content : '五倍紅寶石'; }
    10%  { content : 'AppWorks School'; }
    15%  { content : '六角學院'; }
    20%  { content : 'Udemy'; }
    25%  { content : '五倍紅寶石'; }
    30%  { content : '六角學院'; }
    35%  { content : 'Udemy'; }
    40%  { content : '五倍紅寶石'; }
    45%  { content : '彭彭的課程教學'; }
    50%  { content : 'AppWorks School'; }
    55%  { content : 'Udemy'; }
    60%  { content : '六角學院'; }
    65%  { content : 'Udemy'; }
    70%  { content : '五倍紅寶石'; }
    75%  { content : 'AppWorks School'; }
    80%  { content : '彭彭的課程教學'; }
    85%  { content : 'AppWorks School'; }
    90%  { content : 'Udemy'; }
    95%  { content : '五倍紅寶石'; }
    100% { content : '六角學院'; }
}