html,
body {
	margin: 0px;
}

body {
	font-size: 16px;
	font-family: "Noto Sans TC", "華康黑體","微軟正黑體", "新細明體", arial, sans-serif;
	color: #3f3a3a;
}


a {
	text-decoration: none;
    color: inherit;
}

a:hover{
    opacity: 0.7;
    cursor: pointer;
}

img:hover{
    opacity: 0.8;
    cursor: pointer;
}

p{
    letter-spacing: 3px;
}

/* header */

header{
    z-index: 1;
    opacity: 0.8;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

header:hover{
    animation: myAnimation 10s ease 0s 1 alternate;
}

header>div{
    margin-left: 60px;
}

header>div.logo{
    width: 201px;
    height: 97px;
}

header>.logo>a>img{
    width: 100%;
    height: 100%;
}

header>nav{
    margin-right: 60px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 40%;
}

header>nav>div{
    line-height: 97px;
    color:white;
    letter-spacing: 3px;
}

header>nav>div>img{
    width: 18px;
}

        /* section */

        section{
            background: url("../images/FE_key_visual.png");
            background-repeat: no-repeat;
            background-size: 100% 630px;
            height: 580px;
            /* width: 100%; */
            box-shadow:3px 3px 12px rgb(26, 216, 211);padding:10px;
        }

        section>div{
            display: inline-block;
            position: relative;
            top:50%;
            left: 10%;
            color: white;
            line-height: 60px;
        }

        section>div>span.keyvisualSpan{
            font-size:38px;
        }

        section>div>span.keyvisualSpanTwo{
            font-size:44px;
        }

/* aside */

aside{
    z-index: 2;
    opacity: 0.8;
    position: fixed;
    bottom: 20%;
    right: 0;
    width: 78px;
    height: 69px;
    -webkit-transition: bottom 4s; /* For Safari 3.1 to 6.0 */
    transition: bottom 4s;
}

aside:hover{
    bottom: 60%;
}

aside>img{
    width: 100%;
    height: 100%;
}

/* top */

.top{
    padding: 70px;
}

.top-icon{
    cursor: pointer;
    margin: 0 auto;
    background-image: url("../images/FE_TOP.png");
    background-repeat: no-repeat;
    background-size: 36px 46px;
    width: 36px;
    height: 46px;
}

/* footer */

footer{
    opacity: 0.8;
    background-color: #ececec;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

footer>p{
    font-size: 13px;
    line-height: 60px;  
    letter-spacing: 0px;
    text-align: center;
}

footer>p.m::before{
    content:"M";
    word-spacing: 20px;
    color:rgb(26, 216, 211);
}

footer>p.e::before{
    content:"E";
    color:rgb(26, 216, 211);
}

footer>p.a::before{
    content:"A";
    color:rgb(26, 216, 211);
}

footer>div{
    text-align: center;
    line-height: 80px;
}

footer>div>img.footer-img{
    height: 30px;
    width: 30px;
    vertical-align : middle;  
}

@media ( max-width: 660px ){
    header>div{
        margin-left: 10px;
    }
    header>nav{
        margin-right: 10px;
    }
}

@media ( max-width: 1203px ){
    footer{
        height: auto;
        flex-wrap: wrap;
    }
    footer>p{
        flex:0;
    }

}

@media ( max-width: 480px ){
    header>div.logo{
        width: 133px;
        height: 65px;
        margin-top:15px;
    }
    header>nav>div{
        letter-spacing: 1px;
    }
}

/* header animation */

@keyframes headerBackgroundOut{
  0% {  background-color: ""; opacity: 1;}
  25% {  background-color: rgb(250, 250, 250); opacity: 1;}
  50% {  background-color: ""; opacity: 0.9;}
  100% { background-color: rgb(250, 250, 250); opacity: 0.8;}
}

@-webkit-keyframes headerBackgroundOut {
    0% {  background-color: ""; opacity: 1;}
    25% {  background-color: rgb(250, 250, 250); opacity: 1;}
    50% {  background-color: ""; opacity: 0.9;}
    100% { background-color: rgb(250, 250, 250); opacity: 0.8;}
}
@-moz-keyframes headerBackgroundOut {
    0% {  background-color: ""; opacity: 1;}
    25% {  background-color: rgb(250, 250, 250); opacity: 1;}
    50% {  background-color: ""; opacity: 0.9;}
    100% { background-color: rgb(250, 250, 250); opacity: 0.8;}
}
@-o-keyframes headerBackgroundOut {
    0% {  background-color: ""; opacity: 1;}
    25% {  background-color: rgb(250, 250, 250); opacity: 1;}
    50% {  background-color: ""; opacity: 0.9;}
    100% { background-color: rgb(250, 250, 250); opacity: 0.8;}
}

@keyframes headerBackgroundIn{
  0% { background-color: rgb(250, 250, 250); opacity: 0.8;}
  50% {  background-color: ""; opacity: 0.9;}
  100% {  background-color: ""; opacity: 1;}
}

@-webkit-keyframes headerBackgroundIn {
    0% { background-color: rgb(250, 250, 250); opacity: 0.8;}
    50% {  background-color: ""; opacity: 0.9;}
    100% {  background-color: ""; opacity: 1;}
}
@-moz-keyframes headerBackgroundIn {
    0% { background-color: rgb(250, 250, 250); opacity: 0.8;}
    50% {  background-color: ""; opacity: 0.9;}
    100% {  background-color: ""; opacity: 1;}
}
@-o-keyframes headerBackgroundIn {
    0% { background-color: rgb(250, 250, 250); opacity: 0.8;}
    50% {  background-color: ""; opacity: 0.9;}
    100% {  background-color: ""; opacity: 1;}
}

/* 透明度動畫 */

@keyframes opacityOut{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes opacityOut {
    0%   { opacity: 0.5; }
    100% { opacity: 1;  }
}
@-moz-keyframes opacityOut {
    0%   { opacity: 0.5; }
    100% { opacity: 1; }
}
@-o-keyframes opacityOut {
    0%   { opacity: 0.5; }
    100% { opacity: 1; }
}