html,
body {
	margin: 0px;
}

body {
	font-size: 16px;
	font-family: "Noto Sans TC", "華康黑體","微軟正黑體", "新細明體", arial, sans-serif;
	color: #3f3a3a;
}


a {
	text-decoration: none;
    color: inherit;
}

a:hover{
    opacity: 0.7;
    cursor: pointer;
}

img:hover{
    opacity: 0.8;
    cursor: pointer;
}

p{
    letter-spacing: 3px;
}

/* header */

header{
    z-index: 1;
    opacity: 0.8;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

header:hover{
    animation: myAnimation 10s ease 0s 1 alternate;
}

header>div{
    margin-left: 60px;
}

header>div.logo{
    width: 201px;
    height: 97px;
}

header>.logo>a>img{
    width: 100%;
    height: 100%;
}

header>nav{
    margin-right: 60px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 40%;
}

header>nav>div{
    line-height: 97px;
    color:white;
    letter-spacing: 3px;
}

header>nav>div>img{
    width: 18px;
}

        /* section */

        section{
            background: url("../images/FE_key_visual.png");
            background-repeat: no-repeat;
            background-size: 100% 630px;
            height: 580px;
            /* width: 100%; */
            box-shadow:3px 3px 12px rgb(26, 216, 211);padding:10px;
        }

        section>div{
            display: inline-block;
            position: relative;
            top:50%;
            left: 10%;
            color: white;
            line-height: 60px;
        }

        section>div>span.keyvisualSpan{
            font-size:38px;
        }

        section>div>span.keyvisualSpanTwo{
            font-size:44px;
        }

/* aside */

aside{
    z-index: 2;
    opacity: 0.8;
    position: fixed;
    bottom: 20%;
    right: 0;
    width: 78px;
    height: 69px;
    -webkit-transition: bottom 4s; /* For Safari 3.1 to 6.0 */
    transition: bottom 4s;
}

aside:hover{
    bottom: 60%;
}

aside>img{
    width: 100%;
    height: 100%;
}

/* top */

.top{
    padding: 70px;
}

.top-icon{
    cursor: pointer;
    margin: 0 auto;
    background-image: url("../images/FE_TOP.png");
    background-repeat: no-repeat;
    background-size: 36px 46px;
    width: 36px;
    height: 46px;
}

/* footer */

footer{
    opacity: 0.8;
    background-color: #ececec;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer>p{
    font-size: 13px;
    line-height: 60px;  
}

footer>p.m::before{
    content:"M";
    word-spacing: 20px;
    color:rgb(26, 216, 211);
}

footer>p.e::before{
    content:"E";
    word-spacing: 20px;
    color:rgb(26, 216, 211);
}

footer>p.a::before{
    content:"A";
    word-spacing: 20px;
    color:rgb(26, 216, 211);
}

footer>div{
    text-align: center;
    line-height: 80px;
}

footer>div>img.footer-img{
    height: 30px;
    width: 30px;
    vertical-align : middle;  
}

/* 搜尋 */

div.fullSearchDiv{
    z-index: 3;
    opacity: 0.7;
    position: fixed;
    display: flex;
    flex-direction: row;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 39%;
    background-color: black;
    -webkit-transition: bottom 4s; 
    transition: bottom 4s;
}

div.fullSearchWhiteDiv{
    z-index: 3;
    opacity: 1;
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 11%;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: white;
    -webkit-transition: bottom 4s; 
    transition: bottom 4s;
}

div.fullSearchWhiteDiv>div.whiteDivLeft{
    width: 100%;
    height: 86%;
    background-color: rgb(243, 243, 243);
    padding: 30px 0px;
}

div.fullSearchWhiteDiv>div.whiteDivRight{
    width: 10%;
    height: 86%;
    background-color: rgb(75, 67, 67);
    color: white;
    font-size: 24px;
    text-align: center;
    line-height: 14;
    padding: 30px 0px;
    cursor: pointer;
}

div.fullSearchWhiteDiv>div.whiteDivLeft>div.whiteDivLeftIcon{
    margin: 0 auto;
    background: url(../images/FE_search_green.png);
    background-repeat: no-repeat;
    background-size: 45px 45px;
    width: 54px;
    height: 58px;
    margin-bottom: -24px;

}

div.fullSearchWhiteDiv>div.whiteDivLeft>p.whiteDivLeftText{
    text-align: center;
    color: rgb(26, 216, 211);
    font-size: 20px;
}

div.fullSearchWhiteDiv>div.whiteDivLeft>form.whiteDivLeftBox{
    display: flex;
    width: 60%;
    height: 80px;
    background-color: white;
    margin-left: 18%;
    padding: 10px;
    border-radius: 20px;
}

div.fullSearchWhiteDiv>div.whiteDivLeft>form.whiteDivLeftBox>input.leftInput{
    width: 80%;
    line-height: 2;
    background-color: white;
    font-size: 28px;
    padding: 10px;
    line-height: 2;
    border: 0px solid white;
}

div.fullSearchWhiteDiv>div.whiteDivLeft>form.whiteDivLeftBox>div.leftButton{
    background: url(../images/FE_search_green.png);
    background-repeat: no-repeat;
    background-size: 45px 45px;
    width: 54px;
    height: 58px;
    margin: 0 auto;
    margin-top: 16px;
    cursor: pointer;
}

mark>div:hover{
    cursor: pointer;
    opacity: 0.8;
}

/* 測驗 Go */ 

div.test-go-back-div{
    z-index: 1;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(192, 192, 192, 0.3);
}

div.test-go-back-div>div.test-go-white-div{
    z-index: 2;
    position: fixed;
    width: 500px;
    height: 550px;
    border-radius: 4px;
    background: rgb(26, 216, 211);
}

div.test-go-back-div>div.test-go-white-div>p.test-one-header{
    color: white;
    font-size: 38px;
    text-align: center;
    font-weight:bold;    
}

div.test-go-back-div>div.test-go-white-div>p.test-one-list{
    color: white;
    font-size: 20px;
    padding: 0px 50px;
    text-align: center;
    font-weight:bold;
}

div.test-go-back-div>div.test-go-white-div>p.test-one-button{
    color: rgb(26, 216, 211);
    font-size: 24px;
    background-color: white;
    text-align: center;
    padding: 30px;
    margin: 0 auto;
    height: 8%;
    width: 75%;
    border-radius: 10px;
    line-height: 45px;
    margin-top: 45%;
    font-weight:bold;
    cursor: pointer;
}

/* media */

@media ( max-width: 660px ){
    header>div{
        margin-left: 10px;
    }
    header>nav{
        margin-right: 10px;
    }
}

@media ( max-width: 722px ){
    footer{
        height: auto;
    }
}

@media ( max-width: 480px ){
    header>div.logo{
        width: 133px;
        height: 65px;
        margin-top:15px;
    }
    header>nav>div{
        letter-spacing: 1px;
    }
    div.fullSearchWhiteDiv>div.whiteDivLeft>form.whiteDivLeftBox{
        width: 90%;
        margin-left: 2%;
    }
}

/* header animation */

@keyframes headerBackgroundOut{
  0% {  background-color: ""; opacity: 1;}
  25% {  background-color: rgb(250, 250, 250); opacity: 1;}
  50% {  background-color: ""; opacity: 0.9;}
  100% { background-color: rgb(250, 250, 250); opacity: 0.8;}
}

@-webkit-keyframes headerBackgroundOut {
    0% {  background-color: ""; opacity: 1;}
    25% {  background-color: rgb(250, 250, 250); opacity: 1;}
    50% {  background-color: ""; opacity: 0.9;}
    100% { background-color: rgb(250, 250, 250); opacity: 0.8;}
}
@-moz-keyframes headerBackgroundOut {
    0% {  background-color: ""; opacity: 1;}
    25% {  background-color: rgb(250, 250, 250); opacity: 1;}
    50% {  background-color: ""; opacity: 0.9;}
    100% { background-color: rgb(250, 250, 250); opacity: 0.8;}
}
@-o-keyframes headerBackgroundOut {
    0% {  background-color: ""; opacity: 1;}
    25% {  background-color: rgb(250, 250, 250); opacity: 1;}
    50% {  background-color: ""; opacity: 0.9;}
    100% { background-color: rgb(250, 250, 250); opacity: 0.8;}
}

@keyframes headerBackgroundIn{
  0% { background-color: rgb(250, 250, 250); opacity: 0.8;}
  50% {  background-color: ""; opacity: 0.9;}
  100% {  background-color: ""; opacity: 1;}
}

@-webkit-keyframes headerBackgroundIn {
    0% { background-color: rgb(250, 250, 250); opacity: 0.8;}
    50% {  background-color: ""; opacity: 0.9;}
    100% {  background-color: ""; opacity: 1;}
}
@-moz-keyframes headerBackgroundIn {
    0% { background-color: rgb(250, 250, 250); opacity: 0.8;}
    50% {  background-color: ""; opacity: 0.9;}
    100% {  background-color: ""; opacity: 1;}
}
@-o-keyframes headerBackgroundIn {
    0% { background-color: rgb(250, 250, 250); opacity: 0.8;}
    50% {  background-color: ""; opacity: 0.9;}
    100% {  background-color: ""; opacity: 1;}
}

/* 透明度動畫 */

@keyframes opacityOut{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes opacityOut {
    0%   { opacity: 0.5; }
    100% { opacity: 1;  }
}
@-moz-keyframes opacityOut {
    0%   { opacity: 0.5; }
    100% { opacity: 1; }
}
@-o-keyframes opacityOut {
    0%   { opacity: 0.5; }
    100% { opacity: 1; }
}