
/* section */

section{
    background: url("../images/FE_key_visual.png");
    background-repeat: no-repeat;
    background-size: 100% 630px;
    height: 580px;
    /* width: 100%; */
    box-shadow:3px 3px 12px rgb(26, 216, 211);padding:10px;
}

main{
    display: flex;
    flex-direction: row;
    margin:30px 100px;
}

main>div.main-chart{
    width: 50%;
}

main>div.main-chart>p.main-header{
    font-size: 18px;
    color: rgb(128,128,128);
    padding-top: 30px;
    font-weight: bold;
}

main>div.main-chart>div.main-underline{
    border-bottom: 1px solid rgb(26, 216, 211);
    width: 50px;
    margin-bottom: 80px;
    margin-top: 30px;
}

main>div.main-chart>p.main-pre{
    color: rgb(26, 216, 211);
}

main>div.main-chart>p.main-tag{
    padding-bottom: 30px;
}

main>div.main-chart>p{
    font-size: 18px;
    line-height: 12px;
}

main>div.main-content{
    margin:20px 0px;
    width: 50%;
}

main>div.main-content>p.main-content-header{
    font-size: 18px;
    color: rgb(128,128,128);
    font-weight: bold;
}

main>div.main-content>p.main-content-title{
    font-size: 38px;
    color: rgb(26, 216, 211);
    line-height: 38px;
}

main>div.main-content>p{
    font-size: 18px;
    color: rgb(128,128,128);
    line-height: 28px;
}

/* 聯絡我們 */

div.main-contact{
    width: 100%;
    text-align: center;
    background-color: rgb(26, 216, 211);
    height: 400px;
    text-align: center;
    padding-top:50px;
}

div.main-contact>p{
    font-size: 18px;
    color: rgb(128,128,128);
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 30px;
}

div.main-contact>p.main-contact-slogan{
    font-size: 36px;
    color: white;
}

div.main-contact>p.main-contact-quick{
    font-size: 36px;
    color: rgb(128,128,128);
}

div.main-contact>div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

div.main-contact>div>p{
    text-align: center;
    padding: 0 140px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

div.main-contact>div>p.contact-phone::before{
    content:"電話"; 
    word-spacing: 20px;
    color: rgb(128,128,128);
    padding-bottom: 30px;
}

div.main-contact>div>p.contact-mail::before{
    content:"郵件"; 
    word-spacing: 20px;
    color: rgb(128,128,128);
}

@media ( max-width:1300px ){
    section{
        background-size: 100% 570px;
        height: 480px;
    }
}

@media ( max-width:1150px ){
    section{
        background-size: auto 650px;
        height: 580px;
    }
}

@media ( max-width:1112px ){
    div.main-contact{
        height: 480px;
    }
}

@media ( max-width:1000px ){
    section{
        background-size: auto 550px;
        height: 520px;
    }
    main{
        margin:30px 20px;
    }
}

@media ( max-width:900px ){
    section{
        background-size: auto 500px;
        height: 440px;
    }
}

@media ( max-width: 800px ){
    section{
        background-size: auto 440px;
        height: 410px;
    }
    main{
        flex-direction: column;
    }
    main>div.main-chart{
        width: 80%;
        padding-left: 70px;
    }
    main>div.main-content{
        width: 100%;
    }
    div.main-contact>div>p{
        padding: 0 20px;
    }
}

@media ( max-width: 660px ){
    section{
        background-size: auto 365px;
        height: 340px;
    }
    main>div.main-chart{
        width: 80%;
        padding-left: 20px;
    }
}

@media ( max-width: 550px ){
    section{
        background-size: auto 330px;
        height: 300px;
    }
}

@media ( max-width: 480px ){
    section{
        background-size: auto 260px;
        height: 240px;
    }
    main>div.main-content{
        margin:80px 10px;
    }
    main>div.main-chart{
        margin:30px 10px;
    }
    main>div.main-chart>p{
        font-size: 14px;
    }
    div.main-contact>div>p{
        padding: 0px;
        font-size: 18px;
    }
    div.main-contact>p.main-contact-quick{
        font-size: 24px;
        color: rgb(128,128,128);
    }
}

@media ( max-width: 387px ){
    section{
        background-size: auto 220px;
        height: 190px;
    }
}