
/* section */

section{
    /* background: url("../images/FE_key_visual.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 380px;
    margin-top: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section>div.keyvisualSpan{
    font-size: 25px;
    color: rgb(26,216,211);
    background-color: white;
    padding: 6px;
    border-radius: 5px;
    letter-spacing: 20px;
    text-align: center;
    padding-left: 23px;
}

main{
    display: flex;
    flex-direction: row;
    margin:80px 30px;
}

main>div.main-chart{
    width: 40%;
    padding-left: 30px;
}

main>div.main-chart>div.image-left{
    /* background: url('../images/2.jpg') 50% / cover no-repeat; */
    height: 266px;
    width: 400px;
    background-position-x: center;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 5px;
}

main>div.main-chart>div.image-left-one{
    background: url('../images/2.jpg') 50% / cover no-repeat;
}

main>div.main-chart>div.image-left-two{
    background: url('../images/13.jpg') 50% / cover no-repeat;
}

main>div.main-chart>div.image-left-three{
    background: url('../images/15.jpg') 50% / cover no-repeat;
}

main>div.main-content>div.main-underline{
    border-bottom: 1px solid rgb(26, 216, 211);
    width: 20px;
    margin-bottom: 80px;
    margin-top: 30px;
    margin: auto;
}

main>div.main-chart>p.main-pre{
    color: rgba(73, 72, 72, 0.9);
}

main>div.main-chart>p.main-tag{
    padding-bottom: 30px;
    color: rgb(148, 148, 148);
}

main>div.main-chart>p{
    font-size: 18px;
    line-height: 12px;
}

main>div.main-content{
    margin:0px 0px;
    width: 50%;
    padding-right: 30px;
}

main>div.main-content>p.main-header{
    font-size: 24px;
    color: rgb(26, 216, 211);
    padding-top: 0px;
    font-weight: bold;
    line-height: 10px;
    margin-bottom: 80px;
}

main>div.main-content>p.main-content-header{
    font-size: 18px;
    color: rgb(128,128,128);
    font-weight: bold;
    padding-top: 30px;
}

main>div.main-content>p.main-content-title{
    font-size: 18px;
    color: rgb(26, 216, 211);
    text-align: left;
    line-height: 8px;
}

main>div.main-content>p{
    font-size: 16px;
    color: rgb(128,128,128);
    line-height: 28px;
}

main>div.main-content>p.box-title{
    font-size: 18px;
    color: rgb(26, 216, 211);
    text-align: center;
    line-height: 8px;
    padding-top: 100px;
}

/* 聯絡我們 */

div.main-contact{
    width: 100%;
    text-align: center;
    background-color: rgb(26, 216, 211);
    height: 400px;
    text-align: center;
    padding-top:50px;
}

div.main-contact>p{
    font-size: 18px;
    color: rgb(128,128,128);
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 30px;
}

div.main-contact>p.main-contact-slogan{
    font-size: 36px;
    color: white;
}

div.main-contact>p.main-contact-quick{
    font-size: 36px;
    color: rgb(128,128,128);
}

div.main-contact>div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

div.main-contact>div>p{
    text-align: center;
    padding: 0 140px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

div.main-contact>div>p.contact-phone::before{
    content:"電話"; 
    word-spacing: 20px;
    color: rgb(128,128,128);
    padding-bottom: 30px;
}

div.main-contact>div>p.contact-mail::before{
    content:"郵件"; 
    word-spacing: 20px;
    color: rgb(128,128,128);
}

@media ( max-width:1123px ){
    div.main-contact{
        height: 500px;
    }
}

@media ( max-width:1000px ){

}

@media ( max-width: 800px ){
    main{
        flex-direction: column;
    }
    main>div.main-chart{
        width: 80%;
        padding-left: 70px;
    }
    main>div.main-content{
        width: 100%;
    }
    div.main-contact>div>p{
        padding: 0 20px;
    }
}

@media ( max-width: 660px ){
    main>div.main-chart{
        width: 80%;
        padding-left: 20px;
    }
    /* section>div.keyvisualSpan{
        font-size: 20px;
        padding: 5px;
        padding-left: 23px;
    } */
}

@media ( max-width: 480px ){
    main>div.main-content{
        margin:80px 10px;
    }
    main>div.main-chart{
        margin:30px 10px;
    }
    main>div.main-chart>p{
        font-size: 14px;
    }
    div.main-contact>div>p{
        padding: 0px;
        font-size: 18px;
    }
    div.main-contact>p.main-contact-quick{
        font-size: 24px;
        color: rgb(128,128,128);
    }
}
