/* section */

section{
    background: url("../images/key-visual.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;
    padding:10px;
    background-position-x: center;
    background-position-y: center;
    margin-top: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position-y: center;
    line-height: 10px;
};

section>div.keyvisualSpan>p.key-one{
    font-size:38px; font-weight: bold; 
}
section>div.keyvisualSpan>p.key-one:hover{
    transform: rotate(-6deg);
}
section>div.keyvisualSpan>p.key-two{
    font-size:24px;letter-spacing: 10px;
}

section>div.keyvisualSpan>div.arrow-down{
    background: url(../Front-Enter/images/next.svg);
    background-size: cover;
    width: 20px;
    height: 20px;
    margin: 50px auto;
    transform: rotate(90deg);
    position: absolute;
    top: 550px;
    left: 50%;
    animation: arrowUpDownMove 0.6s ease 0s infinite alternate;
}

/* main */

main>div.out-service{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    width: auto;
    height: auto;
    padding:50px 0;
}

main>div.home-my-test{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/second-img.jpg');
    background-color: rgba(128, 128, 128, 0.4);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    background-position-x: center;
    background-attachment: fixed;
    height: 500px;
    align-items: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    filter: brightness(100%);
    transition: height 0.6s linear;
    margin-top: 10px;
    margin-bottom: 10px;
}

main>div.home-my-test:hover{
    filter: brightness(105%);
    height: 550px;
}

main>div.home-my-test>p{
    font-size: 18px;
    color: white;
    text-align: center;
    line-height: 3px;
}

main>div.home-my-test>p.home-test-go{
    width: 80px;
    padding: 7px 23px;
    line-height: 18px;
    font-size: 18px;
    border: 1px solid rgb(26, 216, 211);
    color: rgb(26, 216, 211);
    text-align: center;
    border-radius: 5px;
    letter-spacing: 0px;
    cursor: pointer;
    margin-top: 30px;
    transition: all 0.6s linear;
}

main>div.home-my-test>p.home-test-go:hover{
    color: rgba(26, 216, 211,0.8);
    padding: 12px 30px;
    font-size: 20px;
}

main>div.home-special-article{
    /* background: url('../images/AppWorksShool-rectangle.jpg') ; */
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/third-img.jpg');
    background-color: rgb(26, 216, 211);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    background-position-x: center;
    background-attachment: fixed;
    height: 500px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    filter: brightness(100%);
    transition: height 0.6s linear;
    margin-bottom: 10px;

}

main>div.home-special-article:hover{
    filter: brightness(105%);
    height: 550px;
}

main>div.home-special-article>p{
    font-size: 20px;
    color: white;
}

main>div.home-special-article>p.home-class-button{
    transition: all 0.6s linear;
}

main>div.home-special-article>p.home-class-button:hover{
    padding: 12px 30px;
    font-size: 20px;
}

main>div.home-special-article>p.home-class-button{
    width: 180px;
    padding: 7px 23px;
    line-height: 18px;
    font-size: 18px;
    border:1px solid rgb(26, 216, 211);
    color: rgb(26, 216, 211);
    text-align: center;
    border-radius: 5px;
    letter-spacing: 0px;
    cursor: pointer;
}

main>div.second-picture{
    background: url('../images/15.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    background-position-x: center;
    background-attachment: fixed;
    height: 700px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: height 0.6s linear;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

main>div.second-picture:hover{
    height: 730px;
}

main>div>.service{
    background: url("../images/FE_white.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 336px;
    height: 445px;
    background-attachment: fixed;
    margin-left: 10px;
    margin-right: 10px;
}
    
main>div>.service>img{
    margin-top:50px;
    margin-left: 45%;
    width: 41px;
    height: 42.5px;
}

main>div>.service>p{
    text-align: center;
    line-height: 30px;
    letter-spacing: 0px;
}

main>div>.service>p.service-padding-bottom{
    padding-bottom: 15px;
}

main>div>div>.service-line{
    margin: auto;
    border: 1px solid rgb(26, 216, 211);
    width: 50px;
}

main>div>div>.service-button{
    width: 80px;
    padding: 7px 23px;
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    color: white;
    background-color: rgb(26, 216, 211);
}

main>div>div>.service-color{
    color:white;font-size: 24px;text-align: center;
}

main>div.partner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    width: auto;
    height: auto;
    height: 430px;
    align-items: center;

}

main>div.third-picture{
    height: 700px;
    background: url('../images/five-img.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    background-position-x: center;
    /* background-attachment: fixed; */
    transition: height 0.6s linear;
    align-items: flex-end;
    justify-content: center;
}

main>div.third-picture:hover{
    height: 730px;
}

main>div.partner>div{
    /* background-color: white; */
    height: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

main>div.partner>div.partner-left{
    padding: 35px 20px 0px 20px;
    width: 580px;
    color: white;
    font-size: 18px;
}

main>div.partner>div.partner-img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

main>div.partner>div>p{
    line-height: 30px;
    letter-spacing: 0px;
}

/* section */

/* section{
    background: url("../images/key-visual.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;
    padding:10px;
    background-position-x: center;
    background-position-y: center;
    margin-top: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position-y: center;
    line-height: 10px;
}; */

section>div.keyvisualSpan>p.key-one{
    font-size:38px; font-weight: bold; 
}

@media ( max-width: 712px ){
    main>div>.service{
        width: 224px;
        height: 336px;
        background-attachment: fixed;
        margin-left: 5px;
        margin-right: 5px;
    }
    main>div>div>.service-color {
        font-size: 20px;
    }
    main>div>.service>p {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0px;
    }
    main>div>div>.service-button {
        width: 50px;
        padding: 5px 16px;
        margin: 0 auto;
        border-radius: 5px;
        text-align: center;
        font-size: 14px;
        color: white;
        background-color: rgb(26, 216, 211);
    }
    main>div.home-my-test{
        filter: brightness(100%);
    }
    main>div.home-special-article{
        filter: brightness(100%);
    }
}

@media ( max-width: 570px ){
    main>div.second-picture{
        flex-direction: column;
        justify-content: space-between;
    }
}

@media ( max-width: 420px ){
    section>div.keyvisualSpan {
        letter-spacing: 7px;
        font-size: 20px;
    }
    main>div.partner{
        padding: 0px 30px;
    }
    main>div.partner>div>p{
        font-size: 14px;
        letter-spacing: 0px;
        line-height: 24px;
    }
    main>div.partner>div>p.service-color{
        font-size: 18px;
        padding-top: 40px;
    }
    main>div>.service>p.service-padding-bottom{
        padding-bottom: 8px;
    }
    section>div.keyvisualSpan>p.key-two{
        font-size: 22px;
    }
    section>div.keyvisualSpan>p.key-one{
    font-size:30px;
    }
}



