main>div.out-service{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    width: auto;
    height: auto;
    padding:50px 0;
}

main>div.home-my-test{
    /* background: url('../images/AppWorksShool-rectangle.jpg') ; */
    background-color: rgb(26, 216, 211);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    background-position-x: center;
    background-attachment: fixed;
    height: 1000px;
    align-items: center;
}

main>div.second-picture{
    background: url('../images/15.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    background-position-x: center;
    background-attachment: fixed;
    height: 1000px;
    align-items: center;
}

main>div>.service{
    background: url("../images/FE_white.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 336px;
    height: 445px;
    background-attachment: fixed;
    margin-left: 10px;
    margin-right: 10px;
}
    
main>div>.service>img{
    margin-top:50px;
    margin-left: 45%;
    width: 41px;
    height: 42.5px;
}

main>div>.service>p{
    text-align: center;
    line-height: 30px;
    letter-spacing: 0px;
}

main>div>.service>p.service-padding-bottom{
    padding-bottom: 15px;
}

main>div>div>.service-line{
    margin: auto;
    border: 1px solid rgb(26, 216, 211);
    width: 50px;
}

main>div>div>.service-button{
    width: 80px;
    padding: 7px 23px;
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    color: white;
    background-color: rgb(26, 216, 211);
}

main>div>div>.service-color{
    color:rgb(26, 216, 211);font-size: 24px;
}

main>div.partner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    width: auto;
    height: auto;
    height: 430px;
    align-items: center;

}

main>div.third-picture{
    background: url('../images/13.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    background-position-x: center;
    background-attachment: fixed;
    height: 1000px;
}

main>div.partner>div{
    background-color: white;
    height: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

main>div.partner>div.partner-left{
    padding: 15px;
    width: 280px;
    color: rgb(128, 128, 128);
}

main>div.partner>div.partner-img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

main>div.partner>div>p{
    line-height: 30px;
    letter-spacing: 0px;
}

/* section */

section{
    background: url("../images/FE_key_visual.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;
    /* width: 100%; */
    /* box-shadow:3px 3px 12px rgb(26, 216, 211); */
    padding:10px;
    background-position-x: center;
    background-position-y: center;
    margin-top: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position-y: center;
};


/* section>div.key-keyvisualSpan{
    font-size: 25px;
    color: rgb(26,216,211);
    background-color: white;
    padding: 6px;
    border-radius: 5px;
    letter-spacing: 20px;
    text-align: center;
    padding-left: 23px;
}; */

/* @media ( max-width: 660px ){
    section>div.key-visual-word{
        font-size: 20px;
        padding: 5px;
        padding-left: 23px;
    }
} */




