/* section */

section{
    background: url("../images/FE_key_visual.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;
    padding:10px;
    background-position-x: center;
    background-position-y: center;
    margin-top: 105px;
}

section>div{
    display: inline-block;
    position: relative;
    top:50%;
    left: 10%;
    color: white;
    line-height: 40px;
}

section>div>span.keyvisualSpan{
    font-size:34px;
}

section>div>span.keyvisualSpanTwo{
    font-size:44px;
}

/* 主頁 */

main{
    padding: 100px 40px;
}

main>div{
    display: flex;
    max-width: 1940px;
    width: 100%;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

main>div>div{
    border-radius: 5px;
}

main>div>div.select-button{
    background-color:rgba(230, 230, 230, .3);
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 400px;
}

main>div>div.select-button>p{
    width: 80px;
    background-color: rgb(26, 216, 211);
    color: white;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid rgb(26, 216, 211);
    text-align: center;
    padding: 10px;
}

main>div>div.select-button>p:hover{
    cursor: pointer;
}

main>div>div.select-button>p.manage-post{
    display: none;
}

main>div>div.display-result{
    display: flex;
    flex-direction: column;
    background-color:rgba(230, 230, 230, .8);
    width: 600px;
    position: relative;
    align-items: center;
}

main>div>div.display-result>div.photo{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border-radius: 50%;
    position: absolute;
    background: url('../images/__user_login_icon_307830.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: -50px;
}

main>div>div.display-result>input.input-name{
    background-color: rgba(230, 230, 230, 0);
    color: rgb(128, 128, 128);
    font-size: 16px;
    border: 0px solid white;
    text-align: center;
    margin-top: 70px;
    width: 320px;
    padding: 10px;
    border-radius: 5px;
}

main>div>div.display-result>div.split-line{
    height: 1px;
    width: 500px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    margin: 30px 0px 5px 0px;
}

main>div>div.display-result>div.form{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

main>div>div.display-result>div>input{
    background-color: rgba(230, 230, 230, 0);
    color: rgb(128, 128, 128);
    font-size: 16px;
    border: 0px solid white;
    width: 320px;
    text-align: center;
    border-radius: 5px;
}

main>div>div.display-result>div>p{
    color: rgb(158, 158, 158);
    font-size: 16px;
    width: 80px;
    text-align: center;
}

main>div>div.display-result>div.fix-data{
    width: 80px;
    background-color: rgb(26, 216, 211);
    color: white;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid rgb(26, 216, 211);
    text-align: center;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

main>div>div.display-result>div.confirm-cancel{
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
    display: none;

}

main>div>div.display-result>div.confirm-cancel>div{
    width: 80px;
    background-color: rgb(26, 216, 211);
    color: white;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid rgb(26, 216, 211);
    text-align: center;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
}

@media ( max-width: 880px ){
    main>div>div.display-result>div.photo{
        height: 0px;
        width: 0px;
        background: url('');
    }
}

@media ( max-width: 660px ){
    section>div{
        line-height: 25px;
    }
    section>div>span.keyvisualSpan{
        font-size:28px;
    }
    section>div>span.keyvisualSpanTwo{
        font-size: 34px;
    }
}
