/* section */

section{
    background: url("../images/FE_key_visual.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 380px;
    padding:10px;
    background-position-x: center;
    background-position-y: center;
    margin-top: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section>div.keyvisualSpan{
    font-size: 25px;
    color: rgb(26,216,211);
    background-color: white;
    padding: 6px;
    border-radius: 5px;
    letter-spacing: 20px;
    text-align: center;
    padding-left: 23px;
}

/* 主頁 */

main{
    padding: 60px 40px;
}

main>div{
    display: flex;
    max-width: 1940px;
    width: 100%;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

main>div>div{
    border-radius: 5px;
}

main>div>div.select-button{
    /* background-color:rgba(230, 230, 230, .3); */
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 400px;
    align-items: baseline;
}

main>div>div.select-button>p{
    width: 80px;
    background-color: rgb(26, 216, 211);
    color: white;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid rgb(26, 216, 211);
    text-align: center;
    padding: 10px;
    height: 16px;
    line-height: 16px;
}

main>div>div.select-button>p:hover{
    cursor: pointer;
}

main>div>div.select-button>p.manage-post{
    display: none;
}

main>div>div.display-result{
    display: flex;
    flex-direction: column;
    /* background-color:rgba(230, 230, 230, .8); */
    width: 600px;
    position: relative;
    align-items: center;
}

main>div>div.create-right-div{
    display: none;
    flex-direction: column;
    /* background-color:rgba(230, 230, 230, .8); */
    width: 600px;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

main>div>div.create-right-div>div.post-edit-delete{
    width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-top:1px solid rgba(197, 197, 197, 0.8); 
    padding-top: 30px;
    margin-top: 30px;
}

main>div>div.create-right-div>div.post-edit-delete>p.post-button{
    width: 80px;
    background-color: rgb(26, 216, 211);
    color: white;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid rgb(26, 216, 211);
    text-align: center;
    padding: 10px;
    height: 16px;
    line-height: 16px;
}

main>div>div.create-right-div>div.post-edit-delete>p.post-button:hover{
    cursor: pointer;
}

/* 刪除 layout */

main>div>div.create-right-div>div.for-delete-post{
    display: none;
    flex-direction: row;
    width: 600px;
    position: relative;
    align-items: left;
    justify-content: space-evenly;
    flex-wrap: wrap;
}



div.big-post-div {
    width: 200px;
    background-color: rgb(128, 128, 128);
    color: white;
    border-radius: 5px;
    font-size: 16px;
    border: 0px solid rgb(26, 216, 211);
    text-align: center;
    padding: 10px;
    height: 16px;
    line-height: 16px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div.big-post-div>div.imgEdit{
    display: none;
    width: 16px;
    height: 16px;
    background: url(../images/pencil-edit-button.svg);
    background-size: cover;
    cursor: pointer;
    transition: all 1s linear;
}

div.big-post-div>div.imgEdit:hover{
    opacity: 0.8;
    width: 20px;
    height: 20px;
}

div.big-post-div>div.imgDelete{
    display: none;
    width: 16px;
    height: 16px;
    background: url(../images/rubbish-bin.svg);
    background-size: cover;
    cursor: pointer;
    transition: all 1s linear;
}

div.big-post-div>div.imgDelete:hover{
    opacity: 0.8;
    width: 25px;
    height: 25px;
}

main>div>div.create-right-div>div.for-delete-post>p.create-delete-button:hover {
    cursor: pointer;
}

main>div>div.display-result>div.photo{
    height: 120px;
    width: 120px;
    background-color: aqua;
    border-radius: 50%;
    position: absolute;
    background: url('../images/profile-user-img.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0px;
}

main>div>div.display-result>input.input-name{
    background-color: rgba(230, 230, 230, 0);
    color: rgb(128, 128, 128);
    font-size: 16px;
    border: 0px solid white;
    text-align: center;
    margin-top: 70px;
    width: 320px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

main>div>div.display-result>div.split-line{
    height: 1px;
    width: 500px;
    border-bottom: 0px solid rgb(26, 216, 211);
    margin: 120px 0px 30px 0px;
}

main>div>div.display-result>div.form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    height: 60px;
}

main>div>div.display-result>div>input{
    background-color: rgba(230, 230, 230, 0);
    color: rgb(128, 128, 128);
    font-size: 16px;
    border: 0px solid rgba(230, 230, 230, 0.7);
    width: 320px;
    text-align: left;
    border-radius: 5px;
    height: 30px;
    padding-left: 5px;
}

main>div>div.display-result>div>p{
    color: rgb(158, 158, 158);
    font-size: 16px;
    width: 100px;
    text-align: center;
    padding-top: 4px;
}

main>div>div.display-result>div.fix-data{
    width: 80px;
    background-color: rgb(26, 216, 211);
    color: white;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid rgb(26, 216, 211);
    text-align: center;
    padding: 10px;
    cursor: pointer;
    margin-top: 30px;
    height: 16px;
    line-height: 16px;
    letter-spacing: 3px;
}

main>div>div.display-result>div.confirm-cancel{
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
    display: none;

}

main>div>div.display-result>div.confirm-cancel>div{
    width: 80px;
    background-color: rgb(26, 216, 211);
    color: white;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid rgb(26, 216, 211);
    text-align: center;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
    height: 16px;
    line-height: 16px;
    letter-spacing: 3px;
}

@media ( max-width: 879px ){
    main>div{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    main>div>div.select-button {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 40px;
        width: 420px;
        border-top: 1px solid rgba(230, 230, 230, 0.7);
        border-radius: 0px;
        padding-top: 30px;
        height: 50px;
    }
    main>div>div.select-button>p{
        margin-left: 5px;
        margin-right: 5px;
        width: 90px;
        height: 15px;
        line-height: 15px;
        font-size: 15px;
        text-align: center;
    }
}

@media ( max-width: 630px ){
    main>div>div.display-result{
        width: 250px;
    }
    main>div>div.display-result>div.photo{
        height: 60px;
        width: 60px;
    }
    main>div>div.display-result>div>input{
        font-size: 14px;
        width: 200px;
        height: 30px;
    }
    main>div>div.display-result>div>p{
        font-size: 14px;
        width: 50px;
    }
    main>div>div.select-button {
        width: 250px;
        height: 150px;
        flex-direction: column;
        justify-content: end;
        align-items: center;
    }
    main>div>div.select-button>p{
        font-size: 14px;
        height: 14px;
        line-height: 14px;
    }
    main>div>div.display-result>div.split-line{
        width: 200px;
    }
    main>div>div.display-result>div.fix-data{
        font-size: 14px;
        height: 14px;
        line-height: 14px;
    }
    main>div>div.display-result>div.confirm-cancel>div{
        font-size: 14px;
        height: 14px;
        line-height: 14px;
    }
    main>div>div.create-right-div{
        width: 300px;
    }
    main>div>div.create-right-div>div.for-delete-post{
        width: 300px;
        flex-direction: column;
        align-items: center;
    }
    main>div>div.create-right-div>div.post-edit-delete{
        width: 300px;
    }
}
