/* section */

section{
    background: url("../images/skill-tree-key.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 380px;
    padding:10px;
    background-position-x: center;
    background-position-y: center;
    margin-top: 105px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

section>div.keyvisualSpans{
    font-size: 24px;
    color: white;
    padding: 6px 0px 70px 23px;
    border-radius: 5px;
    letter-spacing: 10px;
    text-align: center;
}

/* description */

div.skill-description{
    height: 380px;
    width: 100%;
    background-color: rgb(26,216,211);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

div.skill-description>p.description-head{
    font-size: 24px;
    font-weight: bold;
}

div.skill-description>p.description-word{
    width: 300px;
    text-align: center;
}

/* main */

main{
    position: relative;
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

main>div.three-hundred-box{
    height: 100%;
    width: 310px;
    padding-top: 50px;
}

/* 滑鼠移入後顯示 */

main>div.three-width{
    position: relative;
    width: 310px;
    height: 100%;
    /* background-color: rgba(26, 216, 211, 0.1); */
}

div.show-div-left{
    /* display: block; */
    position: absolute;
    /* width: 200px;
    height: auto; */
    background-color: rgb(230,230,230);
    transition: all 0.6s linear;
    color: rgb(128, 128, 128);
    text-align: center;
    border-radius: 5px;
    /* padding: 15px 10px 0px 10px; */
}

div.show-div-right{
    /* display: block; */
    position: absolute;
    width: 200px;
    height: auto;
    background-color: rgb(230,230,230);
    transition: all 0.6s linear;
    color: rgb(128, 128, 128);
    text-align: center;
    border-radius: 5px;
    /* padding: 15px 10px 0px 10px; */
}

/* 按鈕樣式 */

/* 灰框灰字 */

p.gray-border-word{
    border: 1px solid rgb(128, 128, 128);
    color: rgb(128, 128, 128);
    text-align: center;
    padding: 2px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    transition: all 0.3s linear;
}

/* 藍框藍字 */

p.blue-border-word{
    border: 1px solid rgb(26,216,211);
    color: rgb(26,216,211);
    text-align: center;
    padding: 2px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    transition: all 0.3s linear;
}

/* 藍框藍底白字 */

p.blue-border-back{
    border: 1px solid rgb(26,216,211);
    background-color: rgb(26,216,211);
    text-align: center;
    padding: 2px;
    color: white;
    width: 100px;
    height: 30px;
    line-height: 30px;
    transition: all 0.3s linear;
}

/* 寬度樣式 */

/* 盒子均分 */

div.box-evenly{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* 盒子靠左 */

div.box-left{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    transition: all 2s linear;
}

/* 斜線樣式 */

div.left-slash{
    background: url('../images/diagonal-line-gray.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    transition: all 2s linear;
}

div.right-slash{
    background: url('../images/diagonal-line-gray.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    transform: rotate(270deg);
    transition: all 2s linear;
}

div.center-slash{
    background: url('../images/minus-symbol-gray.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    transition: all 2s linear;
}

div.straight-slash{
    background: url('../images/minus-symbol-gray.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    transform: rotate(90deg);
    transition: all 2s linear;
}

/* 位置工具 */

div.empty{
    background: url('');
}

div.more-left{
    margin-left: 100px;
}

div.more-right{
    margin-left: 80px;
}

/* 問題 */

div.question-div{
    z-index: 1;
    position: fixed;
    display: none;   flex-direction: row;   justify-content: center;  align-items: center;
    bottom: 0;     left: 0;
    width: 100%;   height: 100%;
    background: rgba(192, 192, 192, 0.3);
}

div>div.q-blue{
    z-index: 2;
    position: fixed;
    width: 350px;
    height: 450px;
    border-radius: 4px;
    background: rgb(26, 216, 211);
}

div>div.q-img{
    z-index: 3;
    position: fixed;
    width: 350px;
    height: 450px;
    border-radius: 4px;
    background: url(../images/Staff-Selection-.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    opacity: 0.1;
}

div>div.question-box{
    z-index: 4;
    position: fixed;
    width: 350px;
    height: 450px;
    border-radius: 4px;
}

div>div>p.question-head{
    color: white;
    font-size: 18px;
    padding: 20px 40px 40px 40px;
    text-align: center;
    letter-spacing: 1px;
    line-height: 30px;
}

div>div>p.question-content{
    color: rgb(26, 216, 211);
    font-size: 16px;
    background-color: white;
    text-align: center;
    padding: 10px 22px;
    margin: 0 auto;
    width: 200px;
    border-radius: 5px;
    line-height: 20px;
    cursor: pointer;
    margin-top: 10px;
    letter-spacing: 1px;
}

/* mousemove */

div.float-box{
    right: 25%;
    top: 50%;
    z-index: 1;
    position: fixed;
    width: 200px;
    height: 200px;
    border-radius: 4px;
    background: rgb(230,230,230);
}

/* user icon */

div.user-icon{
    position: absolute;
    width: 40px;
    height: 40px;
    background: url('../images/cute.svg') center center / cover no-repeat;
    border-radius: 50%;
    top: 0;
    left: 48.5%;
    transition: all 2.5s linear;
}

div.user-icon:hover{
    transform: rotate(1800deg);
}

/* 總通關動畫 */

div.final-pass{
    position: fixed;
    transition: all 2.5s linear;
    left: 0;
    top: 0;
    line-height: 120px;
    text-align: center;
    z-index: 4;
}

@media ( max-width: 500px ){
    section{
        align-items: center;
    }
    
    section>div.keyvisualSpans{
        padding: 142px 0px 70px 23px;
    }
}


@keyframes wobbleHorizontal{
    0%   { margin-right: 53px; }
    5%   { margin-right: 63px; }
    10%  { margin-right: 53px; }
    15%  { margin-right: 43px; }
    20%  { margin-right: 53px; }
    25%  { margin-right: 63px; }
    30%  { margin-right: 53px; }
    35%  { margin-right: 43px; }
    40%  { margin-right: 53px; }
    45%  { margin-right: 63px; }
    50%  { margin-right: 53px; }
    55%  { margin-right: 43px; }
    60%  { margin-right: 53px; }
    65%  { margin-right: 63px; }
    70%  { margin-right: 53px; }
}


@-webkit-keyframes wobbleHorizontal {
    0%   { margin-right: 53px; }
    5%   { margin-right: 63px; }
    10%  { margin-right: 53px; }
    15%  { margin-right: 43px; }
    20%  { margin-right: 53px; }
    25%  { margin-right: 63px; }
    30%  { margin-right: 53px; }
    35%  { margin-right: 43px; }
    40%  { margin-right: 53px; }
    45%  { margin-right: 63px; }
    50%  { margin-right: 53px; }
    55%  { margin-right: 43px; }
    60%  { margin-right: 53px; }
    65%  { margin-right: 63px; }
    70%  { margin-right: 53px; }
}
@-moz-keyframes wobbleHorizontal {
    0%   { margin-right: 53px; }
    5%   { margin-right: 63px; }
    10%  { margin-right: 53px; }
    15%  { margin-right: 43px; }
    20%  { margin-right: 53px; }
    25%  { margin-right: 63px; }
    30%  { margin-right: 53px; }
    35%  { margin-right: 43px; }
    40%  { margin-right: 53px; }
    45%  { margin-right: 63px; }
    50%  { margin-right: 53px; }
    55%  { margin-right: 43px; }
    60%  { margin-right: 53px; }
    65%  { margin-right: 63px; }
    70%  { margin-right: 53px; }
}
@-o-keyframes wobbleHorizontal {
    0%   { margin-right: 53px; }
    5%   { margin-right: 63px; }
    10%  { margin-right: 53px; }
    15%  { margin-right: 43px; }
    20%  { margin-right: 53px; }
    25%  { margin-right: 63px; }
    30%  { margin-right: 53px; }
    35%  { margin-right: 43px; }
    40%  { margin-right: 53px; }
    45%  { margin-right: 63px; }
    50%  { margin-right: 53px; }
    55%  { margin-right: 43px; }
    60%  { margin-right: 53px; }
    65%  { margin-right: 63px; }
    70%  { margin-right: 53px; }
}

@media ( max-width: 630px ){
    /* 不顯示左右側效果 */
    div.show-div-right{
        display: none;
    }
    div.show-div-left{
        display: none;
    }
}